# Episode 2: Exploring and Cleaning up a Kaggle Dataset

In this episode we build on the basics of DataFrames we learned last time and cover some exploratory data analysis on a CSV, including:

* reading/writing CSVs
* dropping and renaming columns
* using boolean selection to filter rows in a `DataFrame`
* some helpful methods for data exploration: `.head(int)`, `.tail(int)`, `.isna()`, `.sample(int)`, and `.value_counts()`

Download the dataset used in this example: https://www.kaggle.com/agirlcoding/all-space-missions-from-1957

In [20]:
import pandas as pd
pd.__version__

'1.1.1'

## Kaggle Datasets

We need to provide the path to our dataset relative to the directory where we downloaded it:

In [21]:
dataset = "./raw/Space_Corrected.csv"

Then, we can use `read_csv` to create our data frame:

In [22]:
df = pd.read_csv(dataset)

We can pass an integer to the `head` method to indicate how many rows we want to see:

In [23]:
df.head(2)

,Unnamed: 0,Unnamed: 0.1,Company Name,Location,Datum,Detail,Status Rocket,Rocket,Status Mission
0,0,0,SpaceX,"LC-39A, Kennedy Space Center, Florida, USA","Fri Aug 07, 2020 05:12 UTC",Falcon 9 Block 5 | Starlink V1 L9 & BlackSky,StatusActive,50.0,Success
1,1,1,CASC,"Site 9401 (SLS-2), Jiuquan Satellite Launch Ce...","Thu Aug 06, 2020 04:01 UTC",Long March 2D | Gaofen-9 04 & Q-SAT,StatusActive,29.75,Success

In [24]:
df2 = pd.read_csv(dataset, index_col="Unnamed: 0")

In [25]:
df2.head(2)

,Unnamed: 0.1,Company Name,Location,Datum,Detail,Status Rocket,Rocket,Status Mission
0,0,SpaceX,"LC-39A, Kennedy Space Center, Florida, USA","Fri Aug 07, 2020 05:12 UTC",Falcon 9 Block 5 | Starlink V1 L9 & BlackSky,StatusActive,50.0,Success
1,1,CASC,"Site 9401 (SLS-2), Jiuquan Satellite Launch Ce...","Thu Aug 06, 2020 04:01 UTC",Long March 2D | Gaofen-9 04 & Q-SAT,StatusActive,29.75,Success

In [26]:
df = pd.read_csv(dataset)

You can use the `.columns` attribute to return just the column names:

In [27]:
df.columns

Index(['Unnamed: 0', 'Unnamed: 0.1', 'Company Name', 'Location', 'Datum',
       'Detail', 'Status Rocket', ' Rocket', 'Status Mission'],
      dtype='object')

## Dropping columns

By default this `drop` method (as do many DataFrame methods) will return another DataFrame without editing the original. If we want to modify the original DataFrame, we need to pass `inplace=True`.

In [28]:
df.drop(columns=['Unnamed: 0', 'Unnamed: 0.1'], inplace=True)

So now if we look at the column names we should see they're gone:

In [29]:
df.columns

Index(['Company Name', 'Location', 'Datum', 'Detail', 'Status Rocket',
       ' Rocket', 'Status Mission'],
      dtype='object')

In [30]:
df.head(2)

,Company Name,Location,Datum,Detail,Status Rocket,Rocket,Status Mission
0,SpaceX,"LC-39A, Kennedy Space Center, Florida, USA","Fri Aug 07, 2020 05:12 UTC",Falcon 9 Block 5 | Starlink V1 L9 & BlackSky,StatusActive,50.0,Success
1,CASC,"Site 9401 (SLS-2), Jiuquan Satellite Launch Ce...","Thu Aug 06, 2020 04:01 UTC",Long March 2D | Gaofen-9 04 & Q-SAT,StatusActive,29.75,Success

## Using `.head`, `.tail`, and `sample(int)`

In [32]:
df.head()

,Company Name,Location,Datum,Detail,Status Rocket,Rocket,Status Mission
0,SpaceX,"LC-39A, Kennedy Space Center, Florida, USA","Fri Aug 07, 2020 05:12 UTC",Falcon 9 Block 5 | Starlink V1 L9 & BlackSky,StatusActive,50.0,Success
1,CASC,"Site 9401 (SLS-2), Jiuquan Satellite Launch Ce...","Thu Aug 06, 2020 04:01 UTC",Long March 2D | Gaofen-9 04 & Q-SAT,StatusActive,29.75,Success
2,SpaceX,"Pad A, Boca Chica, Texas, USA","Tue Aug 04, 2020 23:57 UTC",Starship Prototype | 150 Meter Hop,StatusActive,NaN,Success
3,Roscosmos,"Site 200/39, Baikonur Cosmodrome, Kazakhstan","Thu Jul 30, 2020 21:25 UTC",Proton-M/Briz-M | Ekspress-80 & Ekspress-103,StatusActive,65.0,Success
4,ULA,"SLC-41, Cape Canaveral AFS, Florida, USA","Thu Jul 30, 2020 11:50 UTC",Atlas V 541 | Perseverance,StatusActive,145.0,Success

In [33]:
df.tail()

,Company Name,Location,Datum,Detail,Status Rocket,Rocket,Status Mission
4319,US Navy,"LC-18A, Cape Canaveral AFS, Florida, USA","Wed Feb 05, 1958 07:33 UTC",Vanguard | Vanguard TV3BU,StatusRetired,NaN,Failure
4320,AMBA,"LC-26A, Cape Canaveral AFS, Florida, USA","Sat Feb 01, 1958 03:48 UTC",Juno I | Explorer 1,StatusRetired,NaN,Success
4321,US Navy,"LC-18A, Cape Canaveral AFS, Florida, USA","Fri Dec 06, 1957 16:44 UTC",Vanguard | Vanguard TV3,StatusRetired,NaN,Failure
4322,RVSN USSR,"Site 1/5, Baikonur Cosmodrome, Kazakhstan","Sun Nov 03, 1957 02:30 UTC",Sputnik 8K71PS | Sputnik-2,StatusRetired,NaN,Success
4323,RVSN USSR,"Site 1/5, Baikonur Cosmodrome, Kazakhstan","Fri Oct 04, 1957 19:28 UTC",Sputnik 8K71PS | Sputnik-1,StatusRetired,NaN,Success

In many datasets there is an ordering already in the data (e.g. as in this dataset where there is a temporal ordering), in which case you might want to default to looking at a random subsample that is more representative of the entire dataset.

In [ ]:
df.sample(5)

## Finding missing data

In [ ]:
df.isna().sum()

The keyword argument columns takes a mapping of old column name to new column name. And again here we want to use `inplace=True`.

In [ ]:
df.rename(columns={" Rocket": "Mission Cost in USD"}, inplace=True)

In [ ]:
df.head()

## Q. Who are the organizations that have launched the most space missions?

In [ ]:
df["Company Name"].value_counts()

## Q: Select all failed missions

We'll use a Boolean selection to do this:

In [ ]:
df["Status Mission"] == "Failure"

The type of this quantity is a Series:

In [ ]:
type(df["Status Mission"] == "Failure")

And we can use that boolean series to filter down our rows, i.e. to select just the rows where the value of the series is `True`:

In [ ]:
df[df["Status Mission"] == "Failure"]

# Saving our Dataframe as a new CSV

In [ ]:
df.to_csv("./out/space_clean.csv")

We've learned about:

* reading/writing CSVs
* dropping and renaming columns
* using boolean selection to filter rows in a `DataFrame`
* some helpful methods for data exploration: `.head(int)`, `.tail(int)`, `.isna()`, `.sample(int)`, and `.value_counts()`

In the next episode we'll pick up making basic plots using this same dataset.